@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:300,400,700&subset=cyrillic');

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 9rem;
    background: #f3f3f3;
}

footer {
    min-height: 150px;
    background: #262626;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

}

.auth-container {
    padding: 30px;
}

#cabinet {
    margin-top: 30px;
}

.top-30 {
    margin-top: 30px;
}

.main-navigation {
    min-height: 50px;
    background: #3ba4d7;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.main-navigation ul {
    list-style-type: none;
}

.main-navigation ul li {
    display: inline-block;
    padding-top: 13px;
}

.main-navigation ul li a {
    padding: 15px 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
}

.main-navigation ul li a:hover {
    color: #E3E3E3;
    background: #388fc0;
}

.main-header-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 26px;
    color: #757575;
    margin-bottom: 20px;
}

.add-chanel {
    margin-top: 25%;
}

#index-nav {
    min-height: 50px;
    background: #3ba4d7;
    border-top: 1px solid #3aa0d2;
}

.index-filters {
    list-style: none;
    margin-bottom: 0;
}

.index-filters li {
    display: inline-block;
}
.index-filters li a {
    padding: 5px 15px;
    color: rgba(255, 255, 255, 0.7);;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    display: block;
    width: 100%;
}

.index-filters li a:hover {
    color: white;
    text-decoration: none;
}

.categories-button {
    margin: 5px 0px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    display: block;
    width: 100%;
    border-right: 1px solid white;
}

.categories-button:hover {
    text-decoration: none;
    color: white;
}

.input-search input[type=search] {
    display: block;
    width: 100%;
    margin-top: 7px;
    line-height: inherit;
    padding-left: 4rem;
    font-size: 1.2rem;
    border: none;
}

.chanels {
    padding-top: 30px;
    background: #f3f3f3;
    border-top: 1px solid rgba(16,35,43,.05);
}

.chanels h2 {
    padding: 20px 0px;
}

.chanel_item {
    background: white;
    border: 1px solid #E3E3E3;
    border-radius: 3px;
    margin-bottom: 25px;
    width: 100%;
    height: 160px;
}

.chanel_item .chanel_panel {
    display: table;
    padding: 10px 10px 0 10px;
}

.chanel_item .chanel_item_image {
    background-repeat: no-repeat;
    background-color: #eee;
    background-size: cover;
    width: 50px;
    height: 50px;
    display: block;
    margin-right: 10px;
    border-radius: 100%;
    overflow: hidden;
}

.chanel_item .chanel_item_info {
    display: table-cell;
    vertical-align: top;
    font-size: 13px;
}

.chanel_item .chanel_item_info .chanel_item_category {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #c7c7c7e1;
    text-decoration: none;
}

.chanel_item .chanel_item_info .chanel_item_category:hover {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: rgba(120, 120, 120, 0.88);
}

.chanel_item .chanel_item_info .chanel_item_name {
    display: block;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #090909;
    text-decoration: none;
}

.chanel_item .chanel_item_info .chanel_item_description {
    font-size: 12px;
    line-height: 16px;
    height: 45px;
    margin-top: 4px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.chanel_item .chanel_control {
    display: table;
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid rgba(16,35,43,.1);
}

.chanel_item .chanel_control .chanel_item_add {
    padding-top: 7px;
    padding-left: 15px;
    width: 40%;
}

.channel-block {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.channel-container {
    padding: 20px;

}

.channel-image img{
    display: block;
    border-radius: 300px;
    margin: 30px auto;
}



.copyright {
    color: white;
    display: block;
    margin: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.footer-nav ul {
    margin-top: 27px;
}
.footer-nav ul li{
    display: inline-block;
}

.footer-nav ul li a {
    color: white;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.footer-nav ul li a:hover {
    color: #2a88bd;
}
